<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header    bg-danger">
                <h1>
                    Developing with    ASP.NET    MVC
                    <small class="text-danger">
                        Using    Bootstrap
                    </small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3    col-md-3    bg-success">
                <ul class="nav    nav-pills    nav-stacked">
                    <li id="liHome" role="presentation" class="active"><a href="#">Home</a></li>
                    <li id="liCategory" role="presentation">
                        @Html.ActionLink("Categories", "Index", "Categories")
                    </li>
                    <li id="liSupplier" role="presentation">
                        @Html.ActionLink("Supplier", "Index", "Supplier")
                    </li>
                    <li id="liProduct" role="presentation">
                        @Html.ActionLink("Product", "Index", "Product")
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-md-9">
                <br />
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-danger">
                <small>Layout with Bootstrap</small>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/jquery-3.1.1.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @RenderSection("ScriptPage", false)
</body>
</html>