@model	Model.Register.Product
<div class="form-group">
    @Html.LabelFor(model => model.Name)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon	glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Category.Name)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon	glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Supplier.Name)<br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon	glyphicon-user"></i>
        </span>
        @Html.EditorFor(model => model.Supplier.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
</div>